body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Layoutgeral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudo {
  flex: 1; /* empurra o footer para o fim quando necessário */
}