.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 330px;


  
}

.num {
    font-size: 60px;
}

.link {
    text-decoration: none;
    margin-top: 30px;
    cursor: pointer;
    background-color: #116feb;
    color: white;
    padding: 10px;
    font-weight: bold;
}